.article {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 200px;

    &:nth-child(even) {
        flex-direction: row-reverse;
    }
}

.article__content {
    position: relative;
    padding-left: 150px;
    max-width: 782px;
    transition: transform 0.8s cubic-bezier(0.660, 0.215, 0.295, 1.640);

    &:hover {
        transform: translateY(-5%);
    }

    &::before {
        position: absolute;
        left: 0;
        top: 0;
        transform: translateY(-50%);
        display: block;
        content: attr(data-number);
        width: 240px;
        height: 240px;

        font-weight: 700;
        font-size: 240px;
        line-height: 240px;
        color: rgba(255, 255, 255, 0.1);
    }
}

.article__content-category {
    position: relative;
    padding-left: 96px;
    margin-bottom: 27px;
    font-weight: 800;
    font-size: 18px;
    letter-spacing: 6px;
    text-transform: uppercase;
    color: #FBD784;

    &::before {
        content: "";
        position: absolute;
        left: 0;
        top: 50%;
        transform: translateY(-50%);
        display: block;
        width: 72px;
        height: 2px;
        background-color: #FBD784;
    }
}

.article__content-title {
    margin-bottom: 27px;
    font-family: 'Playfair Display', serif;
    font-weight: 500;
    font-size: 64px;
    line-height: 1.2;
}

.article__content-description {
    margin-bottom: 27px;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.78;
}

.article__content-btn {
    position: relative;
    display: inline-block;
    font-weight: 700;
    font-size: 18px;
    color: #FBD784;
    margin-top: 32px;
    padding-right: 40px;

    &::after {
        position: absolute;
        display: block;
        content: "";
        right: 0;
        top: 50%;
        transform: translateY(-50%);
        background-image: url("./../img/icons/arrow-right.svg");
        width: 24px;
        height: 16px;
    }
}