.article {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 200px;
}
.article:nth-child(even) {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
}

.article__content {
  position: relative;
  padding-left: 150px;
  max-width: 782px;
  -webkit-transition: -webkit-transform 0.8s cubic-bezier(0.66, 0.215, 0.295, 1.64);
  transition: -webkit-transform 0.8s cubic-bezier(0.66, 0.215, 0.295, 1.64);
  transition: transform 0.8s cubic-bezier(0.66, 0.215, 0.295, 1.64);
  transition: transform 0.8s cubic-bezier(0.66, 0.215, 0.295, 1.64), -webkit-transform 0.8s cubic-bezier(0.66, 0.215, 0.295, 1.64);
}
.article__content:hover {
  -webkit-transform: translateY(-5%);
          transform: translateY(-5%);
}
.article__content::before {
  position: absolute;
  left: 0;
  top: 0;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  display: block;
  content: attr(data-number);
  width: 240px;
  height: 240px;
  font-weight: 700;
  font-size: 240px;
  line-height: 240px;
  color: rgba(255, 255, 255, 0.1);
}

.article__content-category {
  position: relative;
  padding-left: 96px;
  margin-bottom: 27px;
  font-weight: 800;
  font-size: 18px;
  letter-spacing: 6px;
  text-transform: uppercase;
  color: #FBD784;
}
.article__content-category::before {
  content: "";
  position: absolute;
  left: 0;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  display: block;
  width: 72px;
  height: 2px;
  background-color: #FBD784;
}

.article__content-title {
  margin-bottom: 27px;
  font-family: 'Playfair Display', serif;
  font-weight: 500;
  font-size: 64px;
  line-height: 1.2;
}

.article__content-description {
  margin-bottom: 27px;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.78;
}

.article__content-btn {
  position: relative;
  display: inline-block;
  font-weight: 700;
  font-size: 18px;
  color: #FBD784;
  margin-top: 32px;
  padding-right: 40px;
}
.article__content-btn::after {
  position: absolute;
  display: block;
  content: "";
  right: 0;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  background-image: url("./../img/icons/arrow-right.svg");
  width: 24px;
  height: 16px;
}

.container {
  max-width: 1790px;
  padding: 0 15px;
  margin: 0 auto;
}

.container-wrap {
  max-width: 1492px;
  margin-left: auto;
  margin-right: auto;
  padding: 0 15px;
}

.row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.footer {
  padding-bottom: 120px;
}

.footer__company {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.footer__company-logo {
  font-family: 'Playfair Display', serif;
  font-weight: 700;
  font-size: 32px;
  letter-spacing: 0.01em;
  text-transform: capitalize;
  -webkit-transition: color 0.2s ease-in;
  transition: color 0.2s ease-in;
}
.footer__company-logo:hover {
  color: #FBD784;
}

.footer__company-description {
  margin-top: 24px;
  max-width: 303px;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.78;
}

.footer__company-copyright {
  margin-top: auto;
  font-weight: 500;
  font-size: 18px;
  line-height: 1.78;
  opacity: 0.5;
}

.footer__nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.footer__nav > * + * {
  margin-left: 212px;
}

.footer__nav-blog {
  font-weight: 500;
  font-size: 18px;
  line-height: 1.78;
}
.footer__nav-blog li {
  margin-bottom: 16px;
}
.footer__nav-blog li:last-child {
  margin-bottom: 0;
}
.footer__nav-blog a {
  position: relative;
}
.footer__nav-blog a::after {
  position: absolute;
  left: 0;
  bottom: -10px;
  display: block;
  content: "";
  width: 100%;
  height: 2px;
  background-color: #FBD784;
  opacity: 0;
  -webkit-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
}
.footer__nav-blog a:hover::after {
  bottom: -5px;
  opacity: 1;
}
.footer__nav-blog a:hover {
  color: #FBD784;
}

.title {
  margin-bottom: 24px;
  font-weight: 700;
  font-size: 24px;
  line-height: 1.33;
  color: #FBD784;
}

.footer__nav-mntn {
  font-weight: 500;
  font-size: 18px;
  line-height: 1.78;
}
.footer__nav-mntn li {
  margin-bottom: 16px;
}
.footer__nav-mntn li:last-child {
  margin-bottom: 0;
}
.footer__nav-mntn a {
  position: relative;
}
.footer__nav-mntn a::after {
  position: absolute;
  left: 0;
  bottom: -10px;
  display: block;
  content: "";
  width: 100%;
  height: 2px;
  background-color: #FBD784;
  opacity: 0;
  -webkit-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
}
.footer__nav-mntn a:hover::after {
  bottom: -5px;
  opacity: 1;
}
.footer__nav-mntn a:hover {
  color: #FBD784;
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-top: 198px;
  padding-bottom: 843px;
}

.header__content {
  display: block;
  margin-left: auto;
  margin-right: auto;
  max-width: 980px;
  padding: 0 15px;
  -webkit-transition: -webkit-transform 0.8s cubic-bezier(0.66, 0.215, 0.295, 1.64);
  transition: -webkit-transform 0.8s cubic-bezier(0.66, 0.215, 0.295, 1.64);
  transition: transform 0.8s cubic-bezier(0.66, 0.215, 0.295, 1.64);
  transition: transform 0.8s cubic-bezier(0.66, 0.215, 0.295, 1.64), -webkit-transform 0.8s cubic-bezier(0.66, 0.215, 0.295, 1.64);
}
.header__content:hover {
  -webkit-transform: translateY(-5%);
          transform: translateY(-5%);
}

.header__content-category {
  position: relative;
  padding-left: 104px;
  font-weight: 800;
  font-size: 18px;
  letter-spacing: 6px;
  text-transform: uppercase;
  color: #FBD784;
}
.header__content-category::before {
  content: "";
  position: absolute;
  left: 0;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  display: block;
  width: 72px;
  height: 2px;
  background-color: #FBD784;
}

.header__content-title {
  font-family: 'Playfair Display', serif;
  font-weight: 500;
  font-size: 86px;
  line-height: 1.136;
  text-transform: capitalize;
  margin-top: 32px;
}

.header__content-btn {
  position: relative;
  display: inline-block;
  font-weight: 700;
  font-size: 18px;
  margin-top: 32px;
  padding-right: 32px;
}
.header__content-btn::after {
  position: absolute;
  display: block;
  content: "";
  right: 0;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  background-image: url("./../img/icons/arrow-down.svg");
  width: 16px;
  height: 24px;
}

.nav {
  padding-top: 64px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.nav__logo {
  font-family: 'Playfair Display', serif;
  font-weight: 700;
  font-size: 32px;
  letter-spacing: 0.01em;
  text-transform: capitalize;
  -webkit-transition: color 0.2s ease-in;
  transition: color 0.2s ease-in;
}
.nav__logo:hover {
  color: #FBD784;
}

.nav__list {
  font-weight: 700;
  font-size: 18px;
}
.nav__list ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.nav__list ul > * + * {
  margin-left: 40px;
}
.nav__list a {
  position: relative;
}
.nav__list a::after {
  position: absolute;
  left: 0;
  bottom: -10px;
  display: block;
  content: "";
  width: 100%;
  height: 2px;
  background-color: #FBD784;
  opacity: 0;
  -webkit-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
}
.nav__list a:hover::after {
  bottom: -5px;
  opacity: 1;
}
.nav__list a:hover {
  color: #FBD784;
}

.nav__login {
  font-weight: 700;
  font-size: 17px;
}

.nav__login-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.nav__login-link > * + * {
  margin-left: 10px;
}

.nav__login-icons {
  fill: #FFFFFF;
  -webkit-transition: fill 0.2s ease-in;
  transition: fill 0.2s ease-in;
}
.nav__login-icons:hover {
  fill: #FBD784;
}

.nav__login-account {
  -webkit-transition: color 0.2s ease-in;
  transition: color 0.2s ease-in;
}
.nav__login-account:hover {
  color: #FBD784;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  font-family: 'Gilroy';
  background-color: #0B1D26;
  background-image: url("./../img/bg/bg.jpg");
  background-size: 100% auto;
  background-repeat: no-repeat;
}

h1, h2, h3, h4, h5, h6, p {
  margin: 0;
}

ul, li {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  text-decoration: none;
  color: #FFFFFF;
}

button {
  padding: 0;
  border: none;
  background: none;
  cursor: pointer;
  color: #FFFFFF;
}

p {
  color: #FFFFFF;
}

/*# sourceMappingURL=main.css.map */